<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

    <Properties>
        <!-- 配置日志文件输出目录 -->
        <Property name="LOG_HOME">${sys:catalina.home}/project_logs/meta_ws</Property>
        <!-- 配置日志文件名 -->
        <Property name="LOG_NAME">meta_ws_2.log</Property>
    </Properties>

    <Appenders>

        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p [%t] (%F\:%L) - %m%n"/>
        </Console>
        
        <!-- <RollingFile name="service_log" fileName="${LOG_HOME}/${LOG_NAME}"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${LOG_NAME}-%d{yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile> -->
        
        <RollingRandomAccessFile name="service_log" fileName="${LOG_HOME}/${LOG_NAME}" 
        	filePattern="${LOG_HOME}/${LOG_NAME}_%d{yyyy-MM-dd}.log.gz" append="true">
        	<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M -- %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <!-- 配置日志的根节点 ,默认error级别-->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="service_log"/>
        </root>

        <!-- 设置第三方日志系统级别 -->
        <logger name="org" level="WARN"/>

    </Loggers>

</Configuration>